@page "/"
<PageTitle>FUCKWEBASSEMBLY</PageTitle>
<h3>shitted: a shitty webapp by a shitty person B)</h3>
<div class="alert alert-warning" role="alert">
 FUCKWEBASSEMBLYFUCKWEBASSEMBLYFUCKWEBASSEMBLYFUCKWEBASSEMBLYFUCKWEBASSEMBLY
</div>
<h1>FUCKWEBASSEMBLY</h1>
<Frontpage></Frontpage>



