@page "/"
<PageTitle>FUCKBLAZOR</PageTitle>
<div class="alert alert-warning" role="alert">
 FUCKBLAZORFUCKBLAZORFUCKBLAZORFUCKBLAZORFUCKBAZOR
</div>
<h1>FUCKBLAZOR</h1>
<Frontpage></Frontpage>



